.overlay {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(25rem, 700px);
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  padding: 0 4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  opacity: 0;
  backdrop-filter: blur(0px);
  visibility: hidden;
  z-index: -1;
}

.overlay-hidden-slide-top {
  animation: animation-overlay-hidden-slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.overlay-hidden-slide-top > div[class*="card-overlay"] {
  animation: animation-card-overlay-hidden 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes animation-overlay-hidden-slide-top {
  0% {
    opacity: 1;
    backdrop-filter: blur(6px);
    visibility: visible;
    z-index: 10;
  }
  99% {
    z-index: 10;
  }
  100% {
    opacity: 0;
    backdrop-filter: blur(0px);
    visibility: hidden;
    z-index: -1;
  }
}

@keyframes animation-card-overlay-hidden {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

.overlay-show-slide-top {
  animation: animation-overlay-show-slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.overlay-show-slide-top > div[class*="card-overlay"] {
  animation: animation-card-overlay-show 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes animation-overlay-show-slide-top {
  0% {
    opacity: 0;
    backdrop-filter: blur(0px);
    visibility: hidden;
    z-index: -1;
  }
  1% {
    z-index: 10;
  }
  100% {
    opacity: 1;
    backdrop-filter: blur(6px);
    visibility: visible;
    z-index: 10;
  }
}

@keyframes animation-card-overlay-show {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}

.btns-container-2 {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  justify-content: end;
  gap: 15px;
}

@media screen and (max-width: 520px) {
  .btns-container-2 {
    grid-template-columns: min-content;
    justify-content: center;
  }
}
